html {
    background-color: #02010a;
    color: #222;
    font-family: "Dancing Script";
    font-size: 1em;
    line-height: 1.4;
}

#contenido {
    width: 900px;
    margin: auto;
}

header {
    background-color: #5b7989;
    height: 6em;
    border-radius: 10px 10px 0 0;
}

.header-content {
    width: 100%;
    padding: 1.5em;
    color: white;
}

.header-content .menu-col-1 {
    display: inline;
    font-size: 2em;
    text-shadow: 2px 2px #02010a;
    text-align: left;
    width: 50%;
    padding-right: 20%;
}

.header-content .menu-col-2{
    display: inline;
    width:10%;
}

.header-content .menu-col-3{
    display: inline;
    width:10%;
}

.header-content .menu-col-4{
    display: inline;
    width:10%;
}

.menu-link:hover,
.menu-link:active{
    text-decoration: none; /* Sin subrayado */
}

#central-img-container{
    background-color: #82c3a6;
    padding: 5%;
}

#central-img {
    margin: 0 auto;
    width: 100%;
}

#secondary-img-container{
    background-color: #d5c75f;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.img-col-1{
    /* https://github.com/philipwalton/flexbugs/issues/225 */
    width: 100%; /* Workaround para que funcione flex con imagenes en chrome */
    height: 100%;
    min-width: 0;
    margin-right: 10px;
    border: 2px solid;
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */
    flex: 1;
}

.img-col-1:hover{
    transform:rotate(10deg);
    transition-duration: 1s;
}


.img-col-2{
    /* https://github.com/philipwalton/flexbugs/issues/225 */
    width: 100%; /* Workaround para que funcione flex con imagenes en chrome */
    height: 100%;
    min-width: 0;
    margin-left: 10px;
    border: 2px solid;
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */
    flex: 1;
}

.img-col-2:hover{
    box-shadow: 2px 2px #82c3a6; /* Sombra */
    transform:translate(20px, -5px);
    transition-duration: 1s;
}

.img-link{
    text-align: center;
}

footer{
    background-color: #C6d5c5;
    border-radius: 0 0 10px 10px;
}

.footer-link{
    text-decoration: none;
    color: black;
}

.footer-content{
    display: flex;
    flex-wrap: nowrap;
}

.footer-content .foot-col{
    flex: 1;
    text-align: center;
}

.footer-content .foot-col > ul{
    text-align: left;
}

.footer-content .foot-col > ul > li{
    list-style: none;
    padding-top: 5px;
}

/* Redes sociales */
.facebook-icon{
    background-image: url("../img/facebook.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.instagram-icon{
    background-image: url("../img/instagram.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.twitter-icon{
    background-image: url("../img/twitter.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px;
}

/* Media queries responsive para dispositivos móviles ( < 900px )*/
@media (max-width: 899px){
    #contenido{
        width:100%;
    }

    /* Margenes y alineacion general en header*/
    .header-content{
        padding: 0;
        text-align: center;
    }

    /* Titulo de la seccion */
    .header-content .menu-col-1 {
        display: block;
        width: 100%;
        padding: 2%;
    }

    /* Menu */
    .header-content .menu-col-2{
        display: inline;
        width:33%;
    }

    .header-content .menu-col-3{
        display: inline;
        width:33%;
    }

    .header-content .menu-col-4{
        display: inline;
        width:33%;
    }

    /* Imagenes,en 1 columna en lugar de dos */

    #secondary-img-container {
        display: block;
    }

    .img-col-1{
        width:80%;
        margin: 5%;
    }

    .img-col-2{
        width:80%;
        margin: 5%;
    }

    .footer-content,
    .foot-col{
        display: block;
        width:100%;
    }

}

